
// .header__navigation{
//     position: absolute;
// }

body{
    margin: 0px;
    padding: 0px;
 }

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    }                                                                                                                 
    p{
        padding: 0;
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        padding: 0;
        margin: 0;
    }

   
    .header{
    position: relative;
    background: #FEFEFE;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
   }

   .container__header {
      
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  
    @media screen and (max-width: 480px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1280px;
    }
  }

   .order__button{
    display: none;
    
    @media (min-width:768px) {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    border-radius: 30px;
    background-color: #BBF330;
    border: none;
    width: 98px;
    height: 32px;
    margin-right: 32px;
    color: #2C2C2C;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    
    
    @media screen and (min-width: 1200px) {
        margin-right: 16px;
      }
}

.order__button:hover,
.order__button:focus
{
    background: #B5FF00;
    
}


.mobile__menu__container{
display: none;}
        
        .mobile__menu__container.is-open{
            display: block;
            opacity: 1;
            visibility: visible;
            pointer-events: initial;
        }


        .menu__button{
        
            display: flex;
            background-color: transparent;
             cursor: pointer;
            border: none;
            outline: none;
            text-align: center;
            justify-content: center;
            position: absolute;
          
            right: 28px;
           
            transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            
        
            @media (min-width:768px) {
                display: none;}
            
        }
    


.mobile__menu__container{

    width: 130px;
    height: 255px;
    overflow-y: auto;
    position: relative;
    transform: translateY(150px);
    margin-right: 20px;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

@media (min-width:768px) {
    display: none;}
}
       

.header__navigation{
    display: flex;
    -webkit-box-pack: justify;
   
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
      }
    
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 72px;
      }
    }
    



.desktop__navigation{
    display: none;


    @media (min-width: 767px)  {
        display: inline-flex;
        flex-direction: column;
        margin-left: 160px;
        
        
    }

    @media (min-width: 1200px){
        display: flex;
        flex-direction: inherit;
        margin-left: 690px;
       
    }
}

.link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    display: block;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }



.link:hover,
.link:focus
{
    color: #BBF330;
    text-decoration: underline;
    
    
}


.menu__item{
display: inline-block;

}

.menu__link{
    padding-right: 28px;
}
.menu__link:nth-last-child(5n){
    margin-bottom: 0;}

.logo{
  padding-left: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;


  @media (min-width: 767px)  {
    padding-left: 32px;
    
    
    
    
}

@media (min-width: 1200px){
    padding-left: 16px;
   
}
}

.mobile__menu__close{
    
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transform: translateX(100%);
    position: absolute;
    z-index: 3;  
    right: 24px;
    top:10px;
}

.mobile__menu__item{
    display: flex;
   }

.mobile__menu__link {
width: 100%;
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
padding-left: 16px;
padding: 16px;


}

.mobile__menu__link:hover,
.mobile__menu__link:focus
{
    background-color: #BBF330;
   color: #000000;
   text-decoration: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   z-index: 1;
}














.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height:100%;
    background-color: rgba(94, 99, 99, 0.7);;
    z-index: 2;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1) ;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 768px;
    width: 100%;
    height:100%;
    background-color: rgba(94, 99, 99, 0.7);
    z-index: 5;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1) ;
}


.modal{
    @media(min-width:320px ){
        width: 95%;
        height: auto;
        padding: 40px;
        overflow-y: auto;
        background-color:var(--body-bgd);
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-60%);
    z-index: 3;
    
    }
    @media(min-width:768px){
    width: 528px;
    height: 580px;
    padding: 40px;
    overflow-y: auto;
    background-color:var(--body-bgd);
    
   
    position: absolute; 
    // left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 5;
 
    }
    @media(min-width:1200px){
        top: 50%;
        transform: translate(-50% ,-50%);
    }
    
}


.modal__container{
    max-width: 458px;
height: 449px;
position: absolute ;
background: #FFE550;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border-radius: 30px;
// @media(min-width:768px){
  
//     transform: translate(20%);
}





.close__button{

    transform: translateY(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
   left: 88%;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
/* Arrow shadow */

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 6;

  
}



.modal__input {
    width: 394px;
    height: 48px;
   padding-left: 12px;

 

line-height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(18, 18, 18, 0.12);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  
    &::placeholder {
      font-size: 12px;
      line-height: 1.5;
      color: #505050;
    }
  
    &:not(:placeholder-shown):required:valid {
      border: 1px solid #7EB101;
    }
    &:not(:placeholder-shown):required:invalid {
      border: 1px solid #FF705D;
    }

 
}
  

  
  .modal__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
margin-top: 34px;
margin-bottom: 20px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
color: #2C2C2C;
  }

  .modal__subtitle{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: #2C2C2C;
  }

  .modal__item{
    margin: 24px;
  }

  .modal__button{
    display: flex;
    justify-content: center;
text-align: center;
align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    border-radius: 30px;
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
    margin-top: 32px;
    margin-left: 150px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    
  
    .modal__button:hover,
    .modal__button:focus
    {
        background: #BBF330;
        
        
    }