    <main> 
        <section class="favorites section">
          <div class="container favorites__content">
        <h2 class="favorites__title">Some of Our Favorites</h2>
        <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list">
            <li class="favorites__item">
               <a class="favorites__link">     
              <picture>
                        <source
                        srcset="
                        /src/images/content/favorites/favoritse-desk/gamburger.jpg     1x,
                        /src/images/content/favorites/favoritse-desk/gamburger2px.jpg  2x
                        "
                        media="(min-width: 1200px)"
                        type="image/jpeg"
                      />
      
                      <source
                        srcset="
                        /src/images/content/favorites/favoritse-tab/gamburger.jpg  1x,
                        /src/images/content/favorites/favoritse-tab/gamburger2px.jpg  2x
                        "
                        media="(min-width: 768px)"
                        type="image/jpeg"
                      />

                        <source
                          srcset="
                          /src/images/content/favorites/favoritse-mob/gamburger.jpg    1x,
                          /src/images/content/favorites/favoritse-mob/gamburger2px.jpg  2x
                          "
                          media="(max-width: 767px)"
                          type="image/jpeg"
                        />
                    <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/gamburger.jpg"    alt="гамбургер"/>
                </picture>
              </a>
                
            </li>
            
            <li class="favorites__item">
              <a class="favorites__link">
                <picture>
                    <source
                    srcset="
                    /src/images/content/favorites/favoritse-desk/Pasta.jpg     1x,
                    /src/images/content/favorites/favoritse-desk/pasta2px.jpg  2x
                    "
                    media="(min-width: 1200px)"
                    type="image/jpeg"
                  />
  
                  <source
                    srcset="
                    /src/images/content/favorites/favoritse-tab/pasta.jpg  1x,
                    /src/images/content/favorites/favoritse-tab/Pasta2px.jpg  2x
                    "
                    media="(min-width: 768px)"
                    type="image/jpeg"
                  />

                    <source
                      srcset="
                      /src/images/content/favorites/favoritse-mob/Pasta.jpg    1x,
                      /src/images/content/favorites/favoritse-mob/Pasta2px.jpg  2x
                      "
                      media="(max-width: 767px)"
                      type="image/jpeg"
                    />
                <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/Pasta.jpg"   alt="паста"/>
            </picture>
          </a>
            </li>
            <li class="favorites__item">
              <a class="favorites__link">
                <picture>
                    <source
                    srcset="
                    /src/images/content/favorites/favoritse-desk/pizza.jpg     1x,
                    /src/images/content/favorites/favoritse-desk/pizza2px.jpg  2x
                    "
                    media="(min-width: 1200px)"
                    type="image/jpeg"
                  />
  
                  <source
                    srcset="
                    /src/images/content/favorites/favoritse-tab/pizza.jpg  1x,
                    /src/images/content/favorites/favoritse-tab/pizza2px.jpg  2x
                    "
                    media="(min-width: 768px)"
                    type="image/jpeg"
                  />

                    <source
                      srcset="
                      /src/images/content/favorites/favoritse-mob/pizza.jpg    1x,
                      /src/images/content/favorites/favoritse-mob/pizza2px.jpg  2x
                      "
                      media="(max-width: 767px)"
                      type="image/jpeg"
                    />
                <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/pizza.jpg"   alt="піца"/>
            </picture>
          </a>
            </li>
            <li class="favorites__item favorites__nomob" >
              <a class="favorites__link"> 
                <picture>
                    <source
                    srcset="
                    /src/images/content/favorites/favoritse-desk/chicken.jpg     1x,
                    /src/images/content/favorites/favoritse-desk/chicken2px.jpg  2x
                    "
                    media="(min-width: 1200px)"
                    type="image/jpeg"
                  />
  
                  <source
                    srcset="
                    /src/images/content/favorites/favoritse-tab/chicken.jpg  1x,
                    /src/images/content/favorites/favoritse-tab/chicken2px.jpg  2x
                    "
                    media="(min-width: 768px)"
                    type="image/jpeg"
                  />

                
                <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/chicken.jpg"   alt="курка"/>
            </picture>
          </a>
            </li>
            <li class="favorites__item favorites__nomob" >
              <a class="favorites__link">
                <picture>
                    <source
                    srcset="
                    /src/images/content/favorites/favoritse-desk/salat.jpg     1x,
                    /src/images/content/favorites/favoritse-desk/salat2px.jpg  2x
                    "
                    media="(min-width: 1200px)"
                    type="image/jpeg"
                  />
  
                  <source
                    srcset="
                    /src/images/content/favorites/favoritse-tab/salat.jpg  1x,
                    /src/images/content/favorites/favoritse-tab/salat2px.jpg  2x
                    "
                    media="(min-width: 768px)"
                    type="image/jpeg"
                  />

                    
                <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/salat.jpg"   alt="салат"/>
            </picture>
          </a>
            </li>
            <li class="favorites__item favorites__nomob">
              <a class="favorites__link" >
                <picture>
                    <source
                    srcset="
                    /src/images/content/favorites/favoritse-desk/borshch.jpg     1x,
                    /src/images/content/favorites/favoritse-desk/borshch2px.jpg  2x
                    "
                    media="(min-width: 1200px)"
                    type="image/jpeg"
                  />
  
                  <source
                    srcset="
                    /src/images/content/favorites/favoritse-tab/borshch.jpg  1x,
                    /src/images/content/favorites/favoritse-tab/borshch2px.jpg  2x
                    "
                    media="(min-width: 768px)"
                    type="image/jpeg"
                  />
                <img class="favorites__img" src="/src/images/content/favorites/favoritse-desk/borshch.jpg"  alt="борщ"/>
            </picture>
          </a>
            </li>
        </ul>
      </div>
    </section>
    </main>
    
