<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer__part1">
                <div>
                             <img src="/src/images/icons/Logo.svg" alt="" class="footer__logo">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="" class="footer__list-item-link">Home</a></li>
                <li class="footer__list-item"><a href="" class="footer__list-item-link">About</a></li>
                <li class="footer__list-item"><a href="" class="footer__list-item-link">Service</a></li>
                <li class="footer__list-item"><a href="" class="footer__list-item-link">Menu</a></li>
                <li class="footer__list-item"><a href="" class="footer__list-item-link">Contact</a></li>
            </ul>      
                </div>

            <form action="" class="footer__form">
                <p class="footer__form-text">Subscribe</p>
                <div class="footer__form-2">
                                <input type="text" class="footer__form-input">
                <button class="footer__form-button">Subscribe</button>    
                </div>

            </form>
            </div>
<div class="footer__part2">
    <ul class="footer__part2-list">
        <li class="footer__part2-list-item"><a href="" class="footer__part2-list-item-link">Privacy Policy</a></li>
        <li class="footer__part2-list-item"><a href="" class="footer__part2-list-item-link">Privacy Policy</a></li>
        <li class="footer__part2-list-item exclusive"><a href="" class="footer__part2-list-item-link">Cookies Settings</a></li>
    </ul>
    <p class="footer__part2-text">2022 FoodSta. All right reserved.</p>
</div>
        </div>
    </footer>
</body>
</html>