<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
</head>
<body>
   <header class="header">
    <div class="container__header  header__navigation">
        
            <a class="logo"><svg width="66px" height="52px">
      <use href="./images/icons/symbol-defs.svg#icon-logo"></use>
    </svg></a>
    
    
    
    <button  
    type="button" 
    class="menu__button" 
    aria-expanded="false"
    aria-controls="mobile__menu__container"
    data-mob-open>
       <svg  width="28" height="28" aria-label="перемикач мобільного меню">
       <use class="icon__mobile__menu" href="./images/icons/symbol-defs.svg#icon-gg_menuburger"></use>
       </svg>
       </button>
     
       <div class=" mobile__menu__content">
       <nav class="mobile__menu__container" id="mobile__menu__container" data-mob >
         
            <ul class="mobile__menu__navigation">
               <button  
         type="button" 
         class="mobile__menu__close" 
         aria-expanded="false"
         aria-controls="mobile__menu__container"
         data-mob-close>
            <svg  width="10" height="10" aria-label="перемикач мобільного меню">
            <use class="icon__mobile__close" href="./images/icons/symbol-defs.svg#icon-close"></use>
             </svg>
            </button>
                <li class="mobile__menu__item"><a class="mobile__menu__link link" href="#">Home</a></li>
                <li class="mobile__menu__item"><a class="mobile__menu__link link" href="#">About</a></li>
                <li class="mobile__menu__item"><a class="mobile__menu__link link" href="#">Service</a></li>
                <li class="mobile__menu__item"><a class="mobile__menu__link link"  href="#">Menu</a></li>
                <li class="mobile__menu__item" ><a class="mobile__menu__link link" href="#">Contact</a></li>
              </ul>
           </nav>
         </div>


           <div class="desktop__navigation">
            <nav>
    <ul class="menu__navigation">
        <li class="menu__item" ><a class="menu__link link" href="#">Home</a></li>
        <li class="menu__item" ><a class="menu__link  link" href="#">About</a></li>
        <li class="menu__item" ><a class="menu__link link" href="#">Service</a></li>
        <li class="menu__item" ><a class="menu__link link" href="#">Menu</a></li>
        <li class="menu__item" ><a class="menu__link link" href="#">Contact</a></li>
</ul>
</nav>
           </div>

<button data-modal-open class=" order__button" >Order Now</button>
  
        </nav>
</div>

</header>


   <div class="backdrop is-hidden " data-modal>
      <div class="modal">
          <p></p>
      <button data-modal-close class="close__button" type="button">
          <svg class="close-button-icon" width="11" height="11" >
              <use href="./images/icons/symbol-defs.svg#icon-close"></use>
          </svg>
      </button>
      <div class="modal__container">
         <h3 class="modal__title">Order Form</h3>
         <div class="modal__item">
         <form class="modal__form">
          <h4 class="modal__subtitle">Name</h4>
          <label for="user-name"></label>
          <input type="name" name="user-name" id="user-name" placeholder="Your name" required class="modal__input">
        </div>
        <div class="modal__item">
          <form class="modal__form">
            <h4 class="modal__subtitle">Phone number</h4>
            <label for="user-tel"></label>
            <input type="tel" name="user-tel" id="user-tel" placeholder="+38(0_ _) _ _ _   _ _   _ _" required class="modal__input">
          </div>
          <div class="modal__item">
            <form class="modal__form">
              <h4 class="modal__subtitle">E-mail</h4>
              <label for="user-email"></label>
              <input type="email" name="user-email" id="user-email" placeholder="example@gmail.com" required class="modal__input">
              <button class="modal__button" type="submit">Send</button>
            </form>
          </div>
                 </div>
      
   <script src="./js/mobile-menu.js"></script>
   
   
</body>
</html>