<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Document</title>
  <link rel="stylesheet" href="/src/sass/_subscribe.scss">
</head>
<body>
  <main>
    <section class="subscribe container">
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <p class="subscribe-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
        in eros elementum tristique.</p>
        <div class="banan-pic">
          <picture class="banan-photo">
            <source srcset="/src/images/content/subscribe/banan-1x.png 1x, /src/images/content/subscribe/banan-2x.png 2x" type="image/png" media="(min-width:
            1280px)" />
            <source srcset="/src/images/content/subscribe/banan-tab-1x.png 1x, /src/images/content/subscribe/banan-tab-2x.png 2x" type="image/png" media="(min-width:
            768px)" />
            <source srcset="/src/images/content/subscribe/banan-mob-1x.png 1x, /src/images/content/subscribe/banan-mob-2x.png 2x" type="image/png" media="(min-width:
            320px)" />
            <img src="/src/images/content/subscribe/banan-mob-1x.png" alt="banan" width="280px" height="78px" class="banan-photo">
          </picture> 
        </div>
      <form class="subscribe-form">
        <label for="user-email"></label>
        <input type="email" name="user-email" id="user-email" placeholder="Enter your email" required class="subscribe-input">
        <button class="btn subscribe-btn" type="submit">Subscribe</button>
      </form>
    </section>
  </main>
</body>
</html>